.footer {
    padding: 30px 0;
    background: #156b81;
    position: relative;
    width: 100%;
    z-index: 100;
    height: 350px;
    margin-top: auto;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .footer h5 {
    font-size: 1.1rem;
    color: #ffffff;
  }
  
  .footer-logo h2 {
    font-size: 2.5rem;
    background: linear-gradient(-45deg, #e250e5, #4b50e6, #e250e5, #4b50e6);
    background-size: 100% 100%;
    background-clip: text;
    -webkit-text-stroke: 3px transparent;
    -webkit-text-fill-color: #14141f;
  }
  
  .footer-logo p {
    color: #fff;
    opacity: 0.5;
    font-size: 0.9rem;
  }
  
  .footer-column ul {
    padding: 0;
    list-style: none; /* Remove bullet points */
  }
  
  .footer-column ul li {
    margin-bottom: 0.5rem;
    color: #ffffff; /* White color for list items */
    background: transparent; /* Transparent background */
    border: none; /* Remove border */
  }
  
  .footer-column ul li a {
    text-decoration: none; /* No underline */
    color: #ffffff; /* White text color */
    font-size: 0.9rem;
    display: block; /* Ensure the link spans the entire list item */
  }
  
  .footer-column ul li a:hover {
    color: #007bff; /* Optional: Color change on hover */
  }
  
  
  .newsletter-input {
    width: 100%;
    border-radius: 50px;
    color: #fff;
    padding: 8px 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    font-size: 0.8em;
    background: #ffffff;
  }
  
  .newsletter-input::placeholder {
    color: #000000;
    opacity: 0.85;
  }
  
  .social-links a {
    text-decoration: none;
    color: #ffffff;
    opacity: 0.85;
    font-size: 1.2em;
    font-weight: 400;
    background: transparent; /* Ensure button is transparent */
  }
  
  .social-links a:hover {
    color: #d50ed8;
  }
  